%li.item
  .page{ style: "text-align: center;" }
    - first_page = page_group.first
    - viewed = 0
    %h3= link_to (first_page.title || "Mystery Page"), first_page.domain
  
    - page_group.each do |page|
      %h5= link_to (page.title.blank? or page.title == first_page.title) ? page.sub_url : page.title, page.url
      - viewed += page.viewed.to_i
  
    %h6= first_page.domain + ", Viewed for #{timeish(viewed)}, " + time_ago_in_words(first_page.updated_at) + " ago"
  
  .actions{ data: { ids: page_group.collect(&:page_id) } }
    %i.icon.icon-remove{ onclick: "$.CB.Pages.updateGroup(this, 'trash')", title: "Trash All" }
    %i.icon.icon-hdd{ onclick: "$.CB.Pages.updateGroup(this, 'archive')", title: "Archive All" }
    %i.icon.icon-list{ onclick: "$.CB.Pages.expand(this);", title: "Expand list" }
  
  %ul.page_group
    - page_group.each do |page|
      = render "pages/page", page: page