:javascript
  $(function(){ $("#search_input").autocomplete($.CB.Pages.searchOptions) });

#index{ style: "text-align: center;" }
  - if @viewing == "new" or @viewing == "trash"  
    .btn-group{ style: "float: right;" }
      %a.btn.dropdown-toggle{ data: { toggle: "dropdown" } }
        More
        %span.caret
      %ul.dropdown-menu
        - if @viewing == "new"
          %li= link_to "Archive All", archive_all_pages_path(ids: "all"), method: "post"
          %li= link_to "Trash All", trash_all_pages_path(ids: "all"), method: "post"
        - elsif @viewing == "trash"
          %li= link_to "Empty Trash", empty_trash_path, method: "post", confirm: "Are you sure you want to delete everything in your Trash folder?"
      
  #search.form.form-search
    .input-append{ style: "width: 60%;" }
      %input#search_input.search-query.input-block-level{ type: "text", autocomplete: "Off" }
      %span.add-on{ style: "border-radius: 0 14px 14px 0;" }
        %i.icon.icon-search
  
  #search_results
    %ul
  
  %ul{ style: "padding-top: 10px;" }
    - @pages.each do |page_group|
      - if page_group.size == 1
        = render "page", page: page_group.first
      - else
        = render "page_group", page_group: page_group