!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Collectrbot"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="favicon.ico" rel="shortcut icon")


  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.brand(href="#") Collectrbot
          .container.nav-collapse
            %ul.nav.pull-right
              - if user_signed_in?
                %li= link_to "Sign Out", destroy_user_session_path, method: :delete
              - else
                %li= link_to "Sign In", new_user_session_path
                %li= link_to "Join", new_user_registration_path
    .container-fluid

      .row-fluid
        .span3
          .well
            %ul.nav.nav-list
              %li.nav-header= Collectrbot
              %li{ class: @viewing == "newest" ? "active" : "" }= link_to "Newest", root_url(v: "newest")
              %li{ class: @viewing == "shared" ? "active" : "" }= link_to "Shared", root_url(v: "shared")
              %li{ class: @viewing == "favorites" ? "active" : "" }= link_to "Favorites", root_url(v: "favorites")
              %li{ class: @viewing == "archived" ? "active" : "" }= link_to "Archived", root_url(v: "archived")
              %li{ class: @viewing == "trash" ? "active" : "" }= link_to "Trash", root_url(v: "trash")
                
        .span6
          = bootstrap_flash
          = yield
        .span3
        
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
